<script src="/static/js/component/draggable.js"></script>
<script src="/static/js/component/calendar.js"></script>
<script src="/static/js/component/droppable.js"></script>
<script src="/static/js/component/resizable.js"></script>
<script src="/static/js/component/linkbutton.js"></script>
<script src="/static/js/component/progressbar.js"></script>
<script src="/static/js/component/pagination.js"></script>
<script src="/static/js/component/panel.js"></script>
<script src="/static/js/component/datagrid.js"></script>
<script src="/static/js/component/window.js"></script>
<script src="/static/js/component/dialog.js"></script>
<script src="/static/js/component/messager.js"></script>
<script src="/static/js/component/form.js"></script>
<script src="/static/js/component/numberbox.js"></script>
<script src="/static/js/component/validatebox.js"></script>
<script src="/static/js/component/combo.js"></script>
<script src="/static/js/component/combobox.js"></script>
<script src="/static/js/component/tree.js"></script>
<script src="/static/js/component/combotree.js"></script>
<script src="/static/js/component/combogrid.js"></script>
<script src="/static/js/component/datebox.js"></script>
<script src="/static/js/component/datetimebox.js"></script>
<script src="/static/js/component/parser.js"></script>
<script src="/static/js/component/messagelabel.js"></script>
<script src="/static/js/component/tooltip.js"></script>
<script src="/static/js/component/fileUpLoad.js"></script>
<script src="/static/js/component/spinner.js"></script>
<script src="/static/js/component/timespinner.js"></script>
<script src="/static/js/component/timePicker.js"></script>
<script src="/static/js/component/table.js"></script>
<script src="/static/js/component/listTree.js"></script>
<script src="/static/js/component/placeholder.js"></script>
<script src="/static/js/component/topMenu.js"></script>
<script src="/static/js/component/tool.js"></script>
<script src="/static/js/component/versionPicker.js"></script>
<script src="/static/js/component/comboPicker.js"></script>
<script src="/static/js/component/searchBox.js"></script>
<script src="/static/js/component/pathNav.js"></script>
<script src="/static/js/component/tagPicker.js"></script>
<script src="/static/js/component/switcher.js"></script>

<link href="/static/css/component/spinner.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/calendar.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/combo.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/combopicker.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/combobox.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/datagrid.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/datebox.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/dialog.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/linkbutton.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/menubutton.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/messager.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/pagination.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/panel.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/progressbar.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/tooltip.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/tree.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/validatebox.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/window.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/searchBox.css" rel="stylesheet" type="text/css" />
<link href="/static/css/component/tagPicker.css" rel="stylesheet" type="text/css" />
