.searchBox-container {
	position: relative;
	padding:0px;
}
.searchBox-showBox {
	border:solid 1px #ccc;
	padding:2px 2px;

	display:inline-block;
	min-width:100px;
}
.searchBox-label {
	border:none;
}
.searchBox-btnDropdown {
	width:15px;
	height:15px;
	background: url(/static/images/combo_arrow.gif);
	float:right;
}
.searchBox-pnlList{
	max-height:300px;
	overflow-x : hidden;
	overflow-y : auto;
}
.searchBox-popup {
	display:none;
	position: absolute;
	top:100%;
	left:0px;
	border:solid 1px #ccc;
	z-index:10000;
	background:#DDD;

}

